%h3.icon-search Please input filename or part of filename
%br
%br
= form_for @search, url: search_path, html: {method: :get} do |f|
  = f.text_field :title_contains, {:class => "input-xlarge", :placeholder => "Type something"}
  %p.button= f.submit "Search", :class =>"btn btn-info"
%hr
- unless @searchable
  %p.lead Input your search request
- else
  - if @Items.empty?
    %p.lead I'm sorry, no matching files found
  - else
    - @Items.each do |i|
      %li.icon-book.items-name= link_to(i.title, i.document.to_s)

